workDir = '/mnt/winterprojectceph/work'


params {
    data_dir        = "/mnt/winterprojectceph/winter_pipe/"
    trim_db         = "/mnt/winterprojectceph/winter_pipe/TruSeq3-PE.fa"
    ref_genome      = "/mnt/winterprojectceph/winter_pipe/reference/Ptrichocarpa_444_v3.0.fa"
    gtf_file        = "/mnt/winterprojectceph/winter_pipe/reference/Ptrichocarpa_444_v3.1.gene_exons.gtf"
    gff_file        = "/mnt/winterprojectceph/winter_pipe/reference/Ptrichocarpa_444_v3.1.gene_exons.gff3"
    star_index     = "/mnt/winterprojectceph/winter_pipe/reference/star_index_test2"
    prepde_script   = "/mnt/winterprojectceph/winter_pipe/prepDE.py3"
    add_tpm_script  = "/mnt/winterprojectceph/winter_pipe/add_tpm_to_ctab.py"
    build_tpm_script = "/mnt/winterprojectceph/winter_pipe/build_tpm_matrices.py"
    threads         = 4
}
