params {
    data_dir        = '/Users/ssures16/bioinfo/data/proj1'
    trim_db         = "${params.data_dir}/TruSeq3-PE.fa"
    ref_genome      = "${params.data_dir}/Ptrichocarpa_444_v3.0.fa"
    gtf_file        = "${params.data_dir}/Ptrichocarpa_444_v3.1.gene_exons.gtf"
    gff_file        = "${params.data_dir}/Ptrichocarpa_444_v3.1.gene_exons.gff3"
    hisat_index     = "${params.data_dir}/hisat2_index"
    prepde_script   = '/Users/ssures16/bioinfo/data/poptranscriptome_199/prepDE.py3'
    add_tpm_script  = "${params.data_dir}/add_tpm_to_ctab.py"
    build_tpm_script = "${params.data_dir}/build_tpm_matrices.py"
    threads         = 4
}

